@model FitAdvisor.Models.STUDENT_COURSE

<h2>Edit Instructor</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.STUDENT)
    @Html.HiddenFor(model => model.ID_STUDENT)
    @Html.HiddenFor(model => model.MAEKS)
    @Html.HiddenFor(model => model.COURSE)
    @Html.HiddenFor(model => model.ID_COURSE)

    <div class="form-group">
        @Html.LabelFor(model => model.ABSSENCE)
        @Html.TextBoxFor(model => model.ABSSENCE, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
}

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
